/* contact  */

.contact {
    padding-top: 2rem;
  
  }
  
  .contact-item {
    margin-bottom: 3rem;
  
  }
  
  .contact-title {
    /* color: var(--primaryColor); */
    color: var(--accentColor);
    font-family: var(--slantedText);
    text-transform: uppercase;
    letter-spacing: calc(var(--letterSpacing) * 1.4);
    font-size: 1.6rem;
    /* font-weight: 400; */
    margin-bottom: 0.5rem;
  
  }
  
  .contact-text {
    /* text-transform: uppercase; */
    font-weight: 400;
  
  }
  
  .form-control {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primaryColor);
    outline: none;
    margin: 2rem 0;
    padding: 1.3rem 0;
    font-size: 1rem;
    font-weight: bold;
    
  }
  
  .form-control::placeholder {
    color: var(--primaryColor);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing);
  
  }
  
  @media screen and (min-width: 992px) {
    .contact-info, .contact-form {
      float: left;
      width: 50%;
      padding: 0 1rem;
  
    }
    .contact-info {
      padding-top: 4rem;
      text-align: left;
  
    }
  }
  
  /* end of contact  */