/* skills  */

.skills {
    background: var(--mainGrey);
  
  }
  
  .skill {
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--mainTransition);
  
  }
  
  .skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    transition: var(--mainTransition);
    display: inline-block;
  
  }
  
  .skill-title {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing);
    margin-bottom: 1.5rem;
    color: var(--primaryColor);
    transition: var(--mainTransition);
  
  }
  
  .skill-text {
    line-height: 1.5;
    font-size: 16px;
    max-width: 13rem;
    margin: 0 auto;
    color: rgb(228, 228, 228);
  
  }
  
  .skill:hover {
    background: var(--primaryColor);
  
  }
  
  .skill:hover .skill-title {
    color: var(--mainWhite);
  
  }
  
  .skill:hover .skill-icon {
    transform: translateY(-5px);
  
  }
  
  @media screen and (min-width: 576px) {
    .skill {
      float: left;
      width: 50%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .skill {
      width: 25%;
    }
  }
  
  /* end of skills */